<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/about-us.css">
</head>
<body>
    <div class="hero-main-container">
        <header class="hero-inner-container">
    
            <div class="logo-container">
                <a href="index.html"><img src="../images/flavor-fusion-high-resolution-logo-white-transparent (1).png"alt=""></a>
            </div>
            <nav class="navbar-main-container">
                <ul class="nav-bar-inner-container">
                    <li class="nav-item"><a href="index.html">Home</a></li>
                    <li class="nav-item"><a href="recipies.html">Recipes</a></li>
                    <li class="nav-item"><a href="about-us.html">About US</a></li>
                    <li class="nav-item"><a href="login.html">Login</a></li>
                    <li class="nav-item"><a href="register.html">Sign Up</a></li>
                </ul>
                
            </nav>
        </header>
    </div>
    
    <div class="content-container">
        <div class="about-main-container">

            
            
            <h1>About Flavor Fusion</h1>
            <div class="about-image">
                <img src="../images/background-image-main.jpg" alt="">
            </div>
            <div class="about-us-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iusto iste officia voluptatibus dicta placeat cum ipsam molestiae culpa repellendus quisquam quidem quos laudantium molestias, perspiciatis rerum ad at repudiandae, debitis officiis numquam a consequuntur eaque? Perspiciatis earum neque ex?</p>
            </div>
            
        </div>
    </div>
    
    <footer class="footer-main-container">
        <p>Flavor Fusion , All Rights Reserved</p>
    </footer>
</body>
</html>