<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/recipe.css">
</head>
<body>
    <div class="hero-main-container">
        <header class="hero-inner-container">

            <div class="logo-container">
                <a href="index.html"><img src="../images/flavor-fusion-high-resolution-logo-white-transparent (1).png"alt=""></a>
            </div>
            <nav class="navbar-main-container">
                <ul class="nav-bar-inner-container">
                    <li class="nav-item"><a href="index.html">Home</a></li>
                    <li class="nav-item"><a href="recipies.html">Recipes</a></li>
                    <li class="nav-item"><a href="about-us.html">About US</a></li>
                    <li class="nav-item"><a href="login.html">Login</a></li>
                    <li class="nav-item"><a href="register.html">Sign Up</a></li>
                </ul>
                
            </nav>
        </header>
    </div>

    <div class="content-container">
            <div class="recipe-page">
                <section class="recipe-hero">
                    <img
                    src="../images/background-image-main.jpg"
                    class="img recipe-hero-img"
                    />
                    <div class="recipe-info">
                        <h2>Banana Pancakes</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, numquam. Aliquam saepe enim, doloribus quis debitis adipisci, corrupti voluptatibus illum maiores fugit repellat nihil, ex molestiae accusamus? Tempore eaque voluptatem iusto inventore laboriosam sint? Odio, soluta. Corrupti explicabo amet laudantium natus iure illo accusamus animi. Illo suscipit assumenda qui odit, facilis quo rerum dolorum laborum molestias quidem sed quasi deleniti.
                        </p>
                    <div class="recipe-icons">
                    
                        <div>
                            <button id="likeRecipe"><i class="fa-regular fa-heart"></i></button>
                            <h5>Likes</h5>
                            <p>222</p>
                        </div>
                        <div>
                            <i class="fas fa-clock"></i>
                            <h5>prep time</h5>
                            <p>30 min.</p>
                        </div>
                        <div>
                            <i class="far fa-clock"></i>
                            <h5>cook time</h5>
                            <p>15 min.</p>
                        </div>
                        <div>
                            <i class="fas fa-user-friends"></i>
                            <h5>serving</h5>
                            <p>6 servings</p>
                        </div>
                    </div>
                    
                    </div>
                </section>

                <section class="recipe-content">
                    <div class="instructions-container">
                        <h4>Instructions</h4>

                        <div class="single-instruction">
                            <div>
                                <p>step 1</p>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, amet.
                            </p>
                        </div>

                        <div class="single-instruction">
                            <div>
                                <p>step 2</p>
                            </div>
                            <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. A temporibus perferendis nisi? Sit sint ipsum eveniet, alias facere doloribus fugit.
                            </p>
                        </div>

                        <div class="single-instruction">
                            <div>
                                <p>step 3</p>
                            </div>
                                <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque optio laudantium quasi iste repellendus quae voluptatum incidunt qui, ex explicabo.
                            </p>
                        </div>

                    </div>
                    <div class="ingredients-container">
                        <div>
                            <h4>Ingredients</h4>
                            <p class="single-ingredient">1 1/2 pancake mix</p>
                            <p class="single-ingredient">banana </p>
                            <p class="single-ingredient">1 cup milk</p>
                        </div>

                    </div>
                </section>
            </div>

    </div>
    
    <footer class="footer-main-container">
        <p>Flavor Fusion , All Rights Reserved</p>
    </footer>
</body>
</html>